gateways/gateway01/local/BookingServiceBackend/bookingservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
      xmlns:tns="http://www.ibm.com/datapower/IBMAir/BookingService/" 
      name="BookingService" 
      targetNamespace="http://www.ibm.com/datapower/IBMAir/BookingService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema
    	elementFormDefault="qualified"
        targetNamespace="http://www.ibm.com/datapower/IBMAir/BookingService/" 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:element name="Booking">
        <xsd:complexType>
          <xsd:sequence>
           <xsd:element name="ReservationCode" type="xsd:string"/>
	   <xsd:element name="BookingType">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="I"/>
                  <xsd:enumeration value="E"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
	   <xsd:element name="PaymentCardDetails">
              <xsd:complexType>
                <xsd:sequence>
		    <xsd:element name="Number" type="xsd:integer"/>
                    <xsd:element name="Expiry">
					     <xsd:complexType>
						  <xsd:sequence>
							<xsd:element name="Year" type="xsd:string"/>
							<xsd:element name="Month" type="xsd:string"/>
							</xsd:sequence>
						 </xsd:complexType>
					</xsd:element>
                    <xsd:element name="CVV" type="xsd:string"/>
		    <xsd:element name="Type" type="xsd:string"/>
                    <xsd:element name="HolderName" type="xsd:string"/>
		</xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="BillingDetails">
              <xsd:complexType>
                <xsd:sequence>
		    <xsd:element name="FirstName" type="xsd:string"/>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="Address" type="xsd:string"/>
		    <xsd:element name="City" type="xsd:string"/>
                    <xsd:element name="State" type="xsd:string"/>
	            <xsd:element name="ZIP" type="xsd:string"/>
		    <xsd:element name="Country" type="xsd:string"/>
		</xsd:sequence>
              </xsd:complexType>
            </xsd:element>     
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    
      <xsd:element name="BookingRequest">
      	<xsd:complexType>
      		<xsd:sequence>
      		  <xsd:element ref="tns:Booking" minOccurs="1" />
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      <xsd:element name="BookingResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element ref="tns:Booking" minOccurs="1"/>
			<xsd:element name="ConformationCode" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
     </xsd:schema>
  </wsdl:types>

  <wsdl:message name="BookingRequest">
    <wsdl:part element="tns:BookingRequest" name="BookingRequest" />
  </wsdl:message>
  <wsdl:message name="BookingResponse">
    <wsdl:part element="tns:BookingResponse" name="BookingResponse" />
  </wsdl:message>

  <wsdl:portType name="BookingService">
    <wsdl:operation name="BookTravel">
      <wsdl:input message="tns:BookingRequest" />
      <wsdl:output message="tns:BookingResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="BookingServiceSOAP" type="tns:BookingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BookTravel">
      <soap:operation soapAction="http://www.ibm.com/datapower/IBMAir/BookingService/BookTravel" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="BookingService">
    <wsdl:port binding="tns:BookingServiceSOAP" name="BookingServiceSOAP">
      <soap:address location="http://booking.ibmair.com:9070/BookingService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
